.es-footer {
    background-color: #f7f7f7;
    padding: 4rem 0;
    color: #666;
}
.App{
    text-align: left !important;
}

.es-footer h5 {
    color: #000;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

.es-footer a {
    color: #666;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
}

.es-footer a:hover {
    color: #C19A5B;
    transform: translateY(20px); /* Moves the text 20px to the left */
}


.es-social-icons a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 50%;
    margin-right: 10px;
}

.es-social-icons a:hover {
    border-color: #000;
}

.es-newsletter-input {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    padding: 0.5rem 0;
}

.es-newsletter-input:focus {
    box-shadow: none;
    border-color: #000;
}

.es-subscribe-btn {
    background-color: #f8f8f8; /* Light background color */
    border: 1px solid #C19A5B; /* Border color */
    color: #C19A5B; /* Text color */
    padding: 10px 30px; /* Padding for the button */
    transition: all 0.3s ease; /* Smooth transition effect for hover */
    cursor: pointer; /* Pointer cursor on hover */
    margin-top: 20px;
}

.es-term-service{
    text-decoration: none;
    color: #C19A5B !important;
}

.es-subscribe-btn:hover {
    background-color: #000;
    color: #fff;
}


.es-payment-icons img {
    height: 25px;
    margin: 0 5px;
}

.es-store-badges img {
    height: 40px;
    margin-right: 10px;
}
.es-icon-color{
    color: #c19a5b;
}