.es-register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-image: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-taobao-jewelry-fresh-and-simple-gold-jewelry-poster-image_194638.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.es-register-wrapper {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 960px;
}

@media (min-width: 768px) {
  .es-register-wrapper {
    flex-direction: row;
  }
}

.es-register-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.es-register-image img {
  width: 100%;
  max-width: 400px;
  object-fit: cover;
}

.es-register-card {
  flex: 1;
  padding: 20px;
}

@media (min-width: 768px) {
  .es-register-card {
    padding: 40px;
  }
}

.es-register-card h2 {
  margin: 0 0 10px;
  color: #c19a5b;
  font-size: 24px;
  text-align: center;
}

.es-register-subtitle {
  text-align: center;
  color: #c19a5b;
  margin-bottom: 20px;
}

.es-register-form {
  display: flex;
  flex-direction: column;
}

.es-register-form-group {
  display: flex;
  flex-direction: column;
}

.es-register-form-group label {
  font-weight: 500;
  color: #c19a5b;
  padding: 10px 0px 5px 0px;
}

.es-register-form-group input {
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  margin: 5px !important;
}

.es-register-form-group input:focus {
  outline: none;
  border-color: #c19a5b;
}

.es-register-password-wrapper {
  position: relative;
}

.es-register-password-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #c19a5b;
}

.es-register-button {
  background-color: #c19a5b;
  padding: 14px;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.es-register-button:hover {
  background-color: #b3884c;
}

.es-register-login-link {
  text-align: center;
  margin-top: 20px;
  color: #b3884c;
}
.es-register-login-link a{
  text-align: center;
  margin-top: 20px;
  color: black;
  text-decoration: none;
}

@media (min-width: 768px) {
  .es-register-login-link {
    margin-top: 30px;
  }
}
